/* globals.css */
@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

@variant dark (&:where(.dark, .dark *));

@media print {
  body * {
    visibility: hidden;
  }
  #printable-label, #printable-label * {
    visibility: visible;
  }
  #printable-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none !important;
  }
}
